html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px
}

.footer p {
    color: #8a8a8a
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px
}

.footer-col1,
.footer-col2,
.footer-col3 {
    min-width: 200px;
    margin-bottom: 20px;
    margin-left: 32px
}

.footer-col1 {
    flex-basis: 20%
}

.footer-col2 {
    flex-basis: 20%
}

.footer-col3 {
    flex-basis: 20%
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 30px
}

.copyright {
    margin-left: 0
}

.row1 {
    justify-content: space-between;
    margin: 100px auto 50px;

}

.account-page {
    padding: 50px 0;
    background-image: url(../images/bg.png);
    background-repeat: 0;
    background-position: center
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 20px 0;
    margin-left: 500px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
    margin-bottom: 110px
}

.form #btn {
    display: inline-block;
    background: #ff0078;
    color: #fff;
    padding: 8px 30px;
    border: 0;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s
}

.form #btn:hover {
    background: #ff8ac1
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px
}

footer {
    background: #000;

}

.footin {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    text-align: center
}

@media (min-width:200px) {
    .footin {
        grid-template-columns: repeat(1, 1fr)
    }
}

.footer-basic {
    padding: 40px 0;
    background-color: #000;
    color: #4b4c4d;
    margin-left: 0
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    padding-left: 150px
}

.footer-basic li:hover {
    animation: heartBeat;
    animation-duration: 1s
}

.footer-basic li {
    padding: 0 10px;
    text-align: center
}

.footer-basic ul a {
    color: #000;
    text-decoration: none;
    opacity: .8
}

.footer-basic ul a:hover {
    opacity: 1;
    background: #08ac6c;
    font-weight: 700;
    border-radius: 6px
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 5px;
    padding-right: 50px
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: .75
}

.footh33 {
    margin-top: 0;
    font-size: 30px;
    color: yellowgreen;
    text-align: center
}

.footh3 {
    font-size: 15px
}

.insta {
    height: 800px
}

.insta:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    animation: heartBeat;
    animation-duration: 1s
}

.whatsapp:hover {
    background: #e1ece5;
    animation: heartBeat;
    animation-duration: 1s
}

.fb:hover {
    background: steelblue;
    animation: heartBeat;
    animation-duration: 1s
}

.cu {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr
}
.lx{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 25%;
    margin-right: 10%;
}

.footer-basic .social>a:hover {
    opacity: 1
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0
}

.copyright {
    background-color: #000;
    font-family: "Arial";
    font-weight: 700;
    font-size: 18px
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100
}

.my-float {
    margin-top: 16px
}

@keyframes color-change {
    0% {
        background-color: red
    }
    50% {
        background-color: blue
    }
    100% {
        background-color: red
    }
}

.floating {
    animation: tada 8s ease infinite;
    position: fixed;
    width: 100px;
    height: 60px;
    bottom: 130px;
    right: 20px;
    padding-top: 18px;
    background-color: #000;
    color: #FFF;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    font-family: sans-serif;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    color: yellow
}

.floating:hover {
    opacity: 0
}

.floatingx {
    position: fixed;
    width: 100px;
    height: 60px;
    bottom: 130px;
    right: 20px;
    padding-top: 18px;
    background-color: #000;
    color: #FFF;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    font-family: cursive;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    color: #000;
    background-color: #08ac6c
}

.float-button {
    margin-top: 16px
}

.cu {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr
}


.aboutbtna {
    display: inline-block;
    background: #ff0078;
    color: #fff;
    padding: 8px 30px;
    border: 0;
    border-radius: 30px;
    font-weight: 700;
    text-decoration: none !important
}

.aboutbtna:hover {
    background-color: red
}

.about-container {
    max-width: 800px;
    height: 100vh;
    margin: auto;
    padding: 0;
    padding-right: 25px
}

.about-offer {
    background: rgb(187, 251, 63);
    background: radial-gradient(circle, rgba(187, 251, 63, .8379726890756303) 0%, rgba(248, 252, 70, 1) 100%);
    margin-top: 0px;
    padding: 30px 0;

}

.about-img {
    margin-right: 200;
    margin-bottom: 20px
}

.about-containerz {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
.aboutpara{
display: grid;
grid-template-columns: 1f;
margin-right: 50px;
margin-left:30px ;
}

.xes {

    
}

.hd {
    margin-top: 50px
}
.offer-about{

}
nav ul li a:hover, nav ul li a:visited:hover {
    
    color: #FEBE10;
    text-decoration: none;
    font-weight: bold;
}